body {
  background: rgb(250, 250, 250);
  font-family: "Love Ya Like A Sister", "Source Code Pro", cursive, monospace;
  header {
    nav {
      .logo {
        background-image: url(../../images/hamburger.svg);
        background-size: contain;
        width: 30px;
        height: 30px;
        margin-right: 0.5em;
      }
      .end-force ul {
        margin-left: auto;
      }
    }
    .hero {
      background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 400px;
      padding: 8em 3em 2em;
    }
  }
}
