body {
  background: rgb(250, 250, 250);
  font-family: "Love Ya Like A Sister", cursive;
  // font-family: "Source Code Pro", monospace;
  header {
    nav {
      .logo {
        background-image: url(../../images/hamburger.svg);
        background-size: contain;
        width: 25px;
        height: 25px;
        margin-right: 0.5em;
      }
    }
    .hero {
      background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      height: 400px;
      padding: 8em 3em 2em;
    }
  }
}
